/**
*   Static Page Controller
*
*   CSS only static page controller.
*
*   @class     .page
*   @children
*   @states
*   @mutators
*/
.page {

    /**
    *   Background-color
    *   This sets the background color of the page.
    *   
    *   @var    $background-color
    */
    $background-color = #f3f7fa;
  
    /**
    *   @selector .page
    */
    & {
      width 100%
      height 100%
      overflow hidden
      position relative
    }
  
    /**
    *   @selector .page .page-controller
    */
    & &-controller {
      display none
    }
  
    /**
    *   @selector .page .page-menu
    */
    & &-menu {
      top 0
      right 0
      margin 0
      z-index 1
      width 100%
      display flex
      height 2.5rem
      list-style none
      user-select none
      position absolute
      align-items center
      background-color #111418
      justify-content flex-end
    }
  
    /**
    *   @selector .page .page-link
    */
    & &-link {
      color #b9c2c9
      padding 0 1rem
      cursor pointer
      tansition all 1s
    }
  
    /**
    *   @selector .page .page-link:hover
    */
    & &-link:hover {
      color #f4511e
    }
  
    /**
    *   @selector .page .page-controller
    *   @target
    */
    & &-controller#main:checked ~ &-menu &-link[for="main"]
    & &-controller#is-top:checked ~ &-menu &-link[for="is-top"],
    & &-controller#is-left:checked ~ &-menu &-link[for="is-left"],
    & &-controller#is-right:checked ~ &-menu &-link[for="is-right"],
    & &-controller#is-bottom:checked ~ &-menu &-link[for="is-bottom"] {
      color #00796b
      cursor default
    }
  
    /**
    *   @selector .page .page-container
    */
    & &-container {
      top 3rem
      left 50%
      opacity 0
      height 100%
      padding 1rem
      margin-top 2rem
      position absolute
      border-radius 4px
      visibility hidden
      background-color white
      transform translateX(-50%)
      border 1px solid darken(#f3f7fa, 5%)
    }
  
    /**
    *   @selector .page .page-menu
    */
    & &-controller#main:checked ~ &-container[for="main"],
    & &-controller#is-top:checked ~ &-container[for="is-top"],
    & &-controller#is-left:checked ~ &-container[for="is-left"],
    & &-controller#is-right:checked ~ &-container[for="is-right"],
    & &-controller#is-bottom:checked ~ &-container[for="is-bottom"] {
      opacity 1
      transition all 2s
      visibility visible
    }
  
  }
  
  /** END OF PAGE **/
  
  /**
  *    Stuff you don't need
  *    This is not necessary. Just something to make the modal
  *    content and button look less bad.
  */
  html, body {
    margin 0
    padding 0
    width 100%
    height 100%
    background-color $background-color
  }
  
  .form-element {
  
    & {
      position relative
      margin 1.50rem 0
    }
  
    & input, & textarea {
      width 100%
      padding 1rem 0
      border none
      border-bottom 1px solid #00796b
  
      &:focus {
        outline none
        border-bottom-width 2px
        & + label[for='input'] {
          bottom calc(100% - .50rem)
          font-size .65rem
          visibility visible
          opacity 1
          color #00796b
          margin-bottom 0
        }
      }
  
      & + label[for='input'] {
        bottom 0
        opacity 0
        color grey
        visibility hidden
        position absolute
        margin-bottom 1rem
        transition all .6s ease-in
      }
  
    }
  }
  
  .button {
    $background-color = {
      main: #00796b,
      hover: #f4511e,
      active: lighten(#f4511e, 35%)
    }
    $border-radius = 4px;
    $color = white;
    $loading-icon = "\f1ce";
    $padding = 1rem 3rem;
  
    & {
      color $color
      cursor pointer
      padding $padding
      user-select none
      position relative
      border-radius $border-radius
      background-color $background-color['main']
    }
  
    &:hover {
      background-color $background-color['hover']
    }
  
    &:active, &:focus {
      background-color $background-color['active']
    }
  
    &::before {
      left 0
      z-index 2
      opacity 0
      width 100%
      visibility hidden
      text-align center
      position absolute
      content $loading-icon
      transition opacity 1s
      font-family "FontAwesome"
      animation loading-animation 1s linear
      animation-iteration-count infinite
      animation-delay 1s
    }
  
    &::after {
      top 0
      left 0
      opacity 0
      z-index 1
      content ""
      width 100%
      height 100%
      visibility hidden
      position absolute
      transition opacity .5s
      border-radius $border-radius
      background-color $background-color['main']
    }
  
    &-controller {
      display none
    }
  
    &-controller:checked ~ &::before,
    &-controller:checked ~ &::after {
      opacity 1
      visibility visible
    }
  
    @keyframes loading-animation {
      0% {
        opacity 1
        transform rotate(0deg)
      }
      50% {
        opacity .1
      }
      80% {
        opacity 1
      }
      100% {
        transform rotate(359deg)
      }
    }
  
  }