{title-block}# {title}{end-title-block}

{tags-block}
---
Tag(s): {tags}

---
{end-tags-block}

{content-block}{content}{end-content-block}


{evernotelink-block}  Evernote Link: {evernotelink}{end-evernotelink-block}
{evernoteguid-block}  Evernote GUID: {evernoteguid}{end-evernoteguid-block}
