{title-block}# {title}{end-title-block}
{tags-block}
---
Tag(s): {tags}

---
{end-tags-block}
{content-block}{content}{end-content-block}

{created-at-block}    Created at: {created-at}{end-created-at-block}
{updated-at-block}    Updated at: {updated-at}{end-updated-at-block}
{source-url-block}    Source URL {source-url}{end-source-url-block}
{link-to-original-block}    Link to original content: {link-to-original}{end-link-to-original-block}
{location-block}    Where: {location}{end-location-block}

