{title-block}# {title}{end-title-block}
{tags-block}
---
Tag(s): {tags}

---
{end-tags-block}
{content-block}{content}{end-content-block}


{reminder-time-block} Reminder: {reminder-time}{end-reminder-time-block}
{reminder-done-time-block} Reminder Done: {reminder-done-time}{end-reminder-done-time-block}
{reminder-order-block} Reminder Order: {reminder-order}{end-reminder-order-block}
