---
{tags-yaml-list-block}tags: {tags-yaml-list}{end-tags-yaml-list-block}
{created-at-block}created: {created-at}{end-created-at-block}
{updated-at-block}updated: {updated-at}{end-updated-at-block}
{title-block}original-title: {title}{end-title-block}
{subject-date-block}subject-date: {subject-date}{end-subject-date-block}
{author-block}author: {author}{end-author-block}
{source-block}source: {source}{end-source-block}
{source-url-block}source-url: {source-url}{end-source-url-block}
{source-application-block}source-application: {source-application}{end-source-application-block}
{location-block}location: {location}{end-location-block}
{altitude-block}altitude: {altitude}{end-altitude-block}
{place-name-block}place-name: {place-name}{end-place-name-block}
{content-class-block}content-class: {content-class}{end-content-class-block}
{application-data-yaml-list-block}application-data: {application-data-yaml-list}{end-application-data-yaml-list-block}
---
{content-block}{content}{end-content-block}