{created-at-block}Creation date: {created-at}{end-created-at-block}
{updated-at-block}Last modification date: {updated-at}{end-updated-at-block}
{link-to-original-block}Original HTML: {link-to-original}{end-link-to-original-block}
{content-block}{content}{end-content-block}