{title-block}# {title}{end-title-block}

{tags-array-block}
---
Tags: {tags-array}

---
{end-tags-array-block}

{content-block}{content}{end-content-block}

{created-at-block}    Created at: {created-at}{end-created-at-block}
{updated-at-block}    Updated at: {updated-at}{end-updated-at-block}
{source-url-block}    Source: {source-url}{end-source-url-block}
{notebook-block}      Notebook: {notebook}{end-notebook-block}
